<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>
<body>
    <header class="header-container">
        <div class="top-header">
            <p>aca va el logo</p>
            <p>volver</p>
        </div>
    </header>
    <main class="main-container">
        <div class="main-top">
            <p class="user-img">imagen del usuario</p>
            <h2 class="subtitulo">Carrito de compras</h2>
            <a href="#" class="ir-a-producto">
                <h4 class="a-productos">Agregar producto</h4>
            </a>
        </div>
        <section class="main-carrito">
            <ul class="productos-en-carrito">
                <li class="producto">producto 1 + precio + cantidad(con posibilidad de sumar unidad) +boton eliminar</li>
                <li class="producto">Producto 2 + precio + cantidad(con posibilidad de sumar unidad)  +boton eliminar</li>
                <li class="producto">Producto 3 + precio + cantidad(con posibilidad de sumar unidad)  +boton eliminar</li>
            </ul>
        </section>
        <div class="main-bottom">
            <p>boton: vaciar carrito</p>
            <p>boton tipo menú: selecionar medio de pago</p>
            <p>total: precio total de la suma de todos los productos</p>
            <p>boton: pagar</p>
        </div>
    </main>
</body>
</html>