<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"><!--Estilos de letras-->
    <link rel="stylesheet" href="/CSS/normalize.css"> <!--Estilos de letras; pequé el normalize en carpeta CSS-->
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script> <!--iconos-->
    <link rel="stylesheet" href="/CSS/home.css">
</head>

<body>
    <header>
        <!--Logotipo-->
        
        <h4 > 
            <nav class="nav-bar">
                <strong><em>AlaVuelta al mundo</em></strong>
                <div class="buscador"></div>
                <i class="fa-solid fa-magnifying-glass"> Búsqueda </i>
                <input placeholder="Destinos " type="text">

                <i><a href="quienesSomos.html">¿Quiénes somos?</a><!-- si chequeamos esto repito lo mismo en todos--></i>
                <i><a href="">Destinos destacados</a><!-- si chequeamos esto repito lo mismo en todos--></i>
                <i><a href="">Ofertas</a><!-- si chequeamos esto repito lo mismo en todos--></i>
                <i><a href="">Contacto</a><!-- si chequeamos esto repito lo mismo en todos--></i>   
                <i><a href="">Log in</a><!-- si chequeamos esto repito lo mismo en todos--></i>
                
            </nav>
        </h4>

            <article class="portada">
                <img src="/img/caribe.jpg" alt="caribe">
                <p>
                    "La puerta a tu destino soñado"
                </p>
            </article>
            <!--barra de busqueda-->
            <!--enlaces a redes sociales-->

    </header>
    

    <p>HOME test</p>
    <footer>
        <!--terminos y condiciones-->
        <!--info legal-->
        <!--mapa del sitio-->
    </footer>
    
</body>

</html>