<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"><!--Estilos de letras-->
    <link rel="stylesheet" href="/CSS/normalize.css"> <!--Estilos de letras; pequé el normalize en carpeta CSS-->
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script> <!--iconos-->
    <link rel="stylesheet" href="/CSS/home.css">
</head>

<body>
    <header>
        <h4 class="navigator">
            <nav>
                <ul type="none">
                    <li><a href="quienesSomos.html">¿Quiénes somos?</a></li><!-- si chequeamos esto repito lo mismo en todos-->
                    <li><a href="">Destinos aclamados</a></li><!-- si chequeamos esto repito lo mismo en todos-->
                    <li><a href="">Ofertas</a></li><!-- si chequeamos esto repito lo mismo en todos-->
                    <li><a href="">Contacto</a></li><!-- si chequeamos esto repito lo mismo en todos-->
                    <li><a href="">Log in</a></li><!-- si chequeamos esto repito lo mismo en todos-->
                </ul>
            </nav>
        </h4>

            <article class="portada">
            <img src="/img/caribe.jpg" alt="caribe">
            <p>"La puerta a tu destino soñado"</p>
            </article>
    </header>
    

    <p>HOME test</p>
    <footer>
        
    </footer>
    
</body>

</html>