<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pàgina de LOGIN</title>
    <link rel="stylesheet" href="/css/login.css">
   
</head>
<body>

    <header>
        <div class="div-logo" >
        <img  src="/img/logo-transparente.png" alt="Logo de la empresa">
        </div>
        

        <section >
           <img  class="banner" src="/img/banner.jpg" alt="banner">
        </section> 
        
        <nav>
                <a class="barra1" href="home" >Home</a>
                <a class="barra2" href="registro">Registro</a>
                <a class="barra3" href="producto">Producto</a>
                <a class="barra4" href="carrito"> Carrito de Compras</a>
                <a class="barra5" href="#">Login</a>
        </nav>
        
    </header>   
    <main>
        <h2> Formulario de Log in</h2>
        <div class="Formulario">
        
        <label>
        Email:
        <input type="email" name="correo" placeholder="Ej: nombre@ejemplo.com">
        </label>
        <label>
        usuario:
         <input type="text" name="user name" placeholder="user name">
        </label>
        <label>
        contraseña: 
        <input type="text" name="password" placeholder="password">
        </label>
        <input type="submit" value=" Enviar" class="boton" >
        </div>
        <h2>O puedes ingresar con Google</h2>
        <div class="login-con-google">
        <label">
        Log in con Google:
        <input type="text" name="Log in with Google" placeholder="Google user">
        </label>
        <input type="submit" value=" LOGIN" class="boton" >
        </div>
    </main>

    <footer>
    
    <p class="pfinal"> <i class="fa-solid fa-at"></i> <a href= "mailto:mdhl@chihockey.org" target="_blank">mdhl@chihockey.org</a></p>

    <P class="pfinal1" > <i class="fa-solid fa-phone"></i> <a href="tel:3512540085"> 3512540085</a></P>

    <p class="pfinal2" ><i class="fa-solid fa-map-pin"></i> <a href="https://www.google.com.ar/maps/@-34.605646,-58.781371,9.75z/data=!4m2!7m1!2e1"> Bs.As </a> </p>

    </footer>

    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>

</html>