<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pàgina de LOGIN</title>
    <link rel="stylesheet" href="/css/login.css">
   
</head>
<body>
    <header>
        <div class="logo" >
            <img src="/img/logo2.jpg">
        </div>
        <div class="Banner">
        <img src="/img/banner.jpg">
        </div>
        <section class="hiperbinculos">
            <nav>
                <a class="barra1" href="index" >Home</a>
                <a class="barra2" href="register">Registro</a>
                <a class="barra3" href="productDetail">Producto</a>
                <a class="barra4" href="productCart"> Carrito de Compras</a>
                <a class="barra5" href="#">Login</a>
        </nav>
        </section>
            <section class="buscador de viajes">
                <label for="Buscador de viajes"> <b> Viajes</label>
                    <select name="Buscador">
                        <option value=" ">--Seleccione una opción--</option> 
                        <option value="A">Buenos Aires</option>
                        <option value="E">Córdoba</option>
                        <option value="I">Río Negro</option>
                        <option value="S">Salta</option> 
                        
                    </select>
                
                    <input type="submit" value=" buscar" class="buscar" >
            </section>
        
        </header>
    <main>
        <h2> Formulario de Log in</h2>
        <div class="Formulario">
        
        <label>
        Email:
        <input type="email" name="correo" placeholder="Ej: nombre@ejemplo.com">
        </label>
        <label>
        usuario:
         <input type="text" name="user name" placeholder="user name">
        </label>
        <label>
        contraseña: 
        <input type="text" name="password" placeholder="password">
        </label>
            
        
                <input type="submit" value=" Enviar" class="boton" >
            
        </div>
        <h2>O puedes ingresar con Google</h2>
        <div>
            <fieldset>
                <label">
            Log in con Google:
            <input type="text" name="Log in with Google" placeholder="Google user">
                </label>
            </fieldset>
            <fieldset class="enviar">
                <input type="submit" value=" LOGIN" class="boton" >
                </fieldset>
        </div>
    </main>
    <footer>
    
    <p class="pfinal"> <i class="fa-solid fa-at"></i> <a href= "mailto:mdhl@chihockey.org" target="_blank">mdhl@chihockey.org</a></p>

    <P class="pfinal1" > <i class="fa-solid fa-phone"></i> <a href="tel:3512540085"> 3512540085</a></P>

    <p class="pfinal2" ><i class="fa-solid fa-map-pin"></i> Buenos Aires-Arg.</p>

    </footer>

    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>

</html>