<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleproducto.css">
    <title></title>
</head>
<body>
    <header>
        <div class="div-logo" >
            <img src="/img/logo-transparente.png" alt="Logo de la empresa">
            </div>
            
    
            <section >
               <img  class="banner" src="/img/banner.jpg" alt="banner">
            </section>
            
            <nav>
                    <a class="barra1" href="home" >Home</a>
                    <a class="barra2" href="registro">Registro</a>
                    <a class="barra3" href="#">Producto</a>
                    <a class="barra4" href="carrito"> Carrito de Compras</a>
                    <a class="barra5" href="login">Login</a>
            </nav>
    </header>
    <main>
       <h1>Destinos</h1>

       <section>
       

            <article class="box-article">
                <h2>Salta</h2>
                <img class="imagen-destino" src="/img/salta.jpg" alt="">
                <div class="box-parrafo">
                    <p>
                        Ciudad con alma Salta es una de las más pintorescas ciudades de Argentina.
                        Las antiguas casonas con balcones con flores, las iglesias que datan de más de tres siglos atrapan a los visitantes;
                        la arquitectura característica regresa el tiempo al pasado colonial para ser protagonista directo de la rica historia salteña.
                    </p>
                </div>
               
            </article>
            <div class="box-boton">
                <button class="boton"> <nav class="nav-reg"><a href="/carrito"> ¡Quiero!</a> </nav> </button>  
            </div>
           


            <article class="box-article">
                <h2>Cordoba</h2>

                <img class="imagen-destino" src="/img/cordoba.jpg" alt="">
                <div class="box-parrafo">
                    <p>
                        Córdoba ofrece al visitante innumerables atractivos, enmarcados por los distintos sistemas serranos del oeste y noroeste provincial.
                        Sus ríos y arroyos, sus interminables áreas verdes y boscosas, las bondades del clima y los paisajes naturales únicos, atraen visitantes todo el año hacia este privilegiado lugar del mundo.
                    </p>
                </div>
               
                        </article>
                        <div class="box-boton">
                            <button class="boton"> <nav class="nav-reg"><a href="/carrito"> ¡Quiero!</a> </nav> </button>  
                </div>
                <article class="box-article">
                    <h2>Buenos Aires</h2>
                    <img class="imagen-destino" src="/img/obelisco.png" alt="">
                    <div class="box-parrafo">
                        <p>
                            Entre los destinos turísticos que debes visitar si estás en Buenos Aires destacan Puerto Madero,
                            La Boca y el Teatro Colón. Si quieres bailar tango, comer carne deliciosa, conocer estadios y visitar calles coloridas, 
                            la ciudad de Buenos Aires es la indicada.
                        </p>
                    </div>
                    
                </article>
                <div class="box-boton">
                    <button class="boton"> <nav class="nav-reg"><a href="/carrito"> ¡Quiero!</a> </nav> </button>  
                </div>
                <article class="box-article">
                    <h2>Bariloche</h2>

                <img class="imagen-destino" src="/img/bariloche.jpg" alt="">
                <div class="box-parrafo">
                    <p>
                        Bariloche es una ciudad ubicada entre bosques milenarios, montañas cubiertas de nieve y 
                        lagos cristalinos, en la provincia de Río Negro, Argentina. Se trata de una postal de nuestra Patagonia.
                        Una ciudad anfitriona por excelencia, enmarcada por algunas de las bellezas naturales más importantes del país.
                    </p>
                </div>

                </article>
                <div class="box-boton">
                <button class="boton"> <nav class="nav-reg"><a href="/carrito"> ¡Quiero!</a> </nav> </button>  
                </div>
       </section>


             
           
          
    </main>
    
        <footer class="contenedor-footer">

            <p class="pfinal"> <i class="fa-solid fa-at"></i> <a href= "mailto:mdhl@chihockey.org" target="_blank">mdhl@chihockey.org</a></p>
    
            <P class="pfinal1" > <i class="fa-solid fa-phone"></i> <a href="tel:3512540085"> 3512540085</a></P>
    
            <p class="pfinal2" ><i class="fa-solid fa-map-pin"></i> <a href="https://www.google.com.ar/maps/@-34.605646,-58.781371,9.75z/data=!4m2!7m1!2e1"> Bs.As </a> </p>
        </footer>

    
        <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>
</html>