<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleproducto.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="div-logo" >
            <img src="/img/logo-transparente.png" alt="Logo de la empresa">
            </div>
            
    
            <section >
               <img  class="banner" src="/img/banner.jpg" alt="banner">
            </section>
            
            <nav>
                    <a class="barra1" href="home" >Home</a>
                    <a class="barra2" href="#">Registro</a>
                    <a class="barra3" href="producto">Producto</a>
                    <a class="barra4" href="carrito"> Carrito de Compras</a>
                    <a class="barra5" href="login">Login</a>
            </nav>
    </header>
    <main>
       <h1>Destinos</h1>

      
       

            <article class="box-article">
              
                <div>
                    <div class="box-product">
                        <img src="/img/calles-de-salta.jpg" class="img-product">
                        <div class="descripcion-producto">
                           
                          <!--  <h2>Salta</h2>   -->                    
                            <p><b>
                              
                                La provincia de Salta posee un clima benigno y los encantos indicados para ser una de las más visitadas por los turistas durante todo el año. 
                                A sus bellezas naturales, que se pueden apreciar en las distintas regiones que alberga, se suma la diversidad de sus habitantes, 
                                que encandila a quienes se acerquen hasta allí por sus tradiciones y costumbres, algunas seculares.
                                <br>
                                <br>
                                Salta Capital es ideal para alojarse en ella y disfrutarla desde el mismo momento en que salimos del hotel y comenzamos a caminarla. 
                                Museos, iglesias, edificios históricos, plazas con sus cafés y paseos varios nos permiten ver la influencia colonial, 
                                que se aprecia en la arquitectura y en uno de los cascos históricos más protegidos de Argentina. Aquí sin dudas, el pasado se preserva. 
                                <br>
                               <br>
                                Al oeste, la Cordillera de los Andes y la Puna, con su increíble viaducto La Polvorilla y el Tren de las Nubes. 
                                Al sur, los Valles Calchaquíes. Al norte, el Chaco Salteño, cuyos verdes interminables la asemejan a la mismísima selva misionera.
                                <br>
                               <br>
                                Única en paisajes, a cada sitio inigualable se suma su excelencia gastronómica que se manifiesta en sabores, colores y aromas propios de esta región del mundo. 
                                Aquí el "comino" es oro y tal es la bondad de los salteños que locros, tamales y empanadas tienen parte de este bello tesoro.
                                <br></b>
                           
                                <div class="boton">
                                <a href="carrito" class="boton-quiero">SALTA</a>
                               </div>
                        </div>
                    </div>
                  
          
    </main>
    <footer class="contenedor-footer">

        <p class="pfinal"> <i class="fa-solid fa-at"></i> <a  class="ultimo" href= "mailto:mdhl@chihockey.org" target="_blank"> <b>vueltaalmundo@vuelos.com </b></a></p>

        <P class="pfinal1" > <i class="fa-solid fa-phone"></i> <a class="ultimo" href="tel:3512540085"> <b> 3512540085 </b></a></P>

        <p class="pfinal2" ><i class="fa-solid fa-map-pin"></i> <a  class="ultimo" href="https://www.google.com.ar/maps/@-34.605646,-58.781371,9.75z/data=!4m2!7m1!2e1"> <b>Bs.As</b> </a> </p>
     

  
       
  
    </footer>
         
    
    <p class="copy">Copyright © 2022 </p>
   

    
        <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>
</html>