<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/styleCarrito.css">
</head>
<body class="bodyClass">
    <header>
        <div class="div-logo" >
        <img  src="/img/logo-transparente.png" alt="Logo de la empresa">
        </div>
        

        <section >
           <img  class="banner" src="/img/wingBanner.jpg" alt="banner">
        </section> 
        
        <nav class="navBar">
                <a class="barra1" href="home" >Inicio</a>
                <a class="barra3" href="producto">Viajes</a>
                <a class="barra4" href="#">Carrito</a>
                <a class="barra2" href="registro">Registro</a>
                <a class="barra5" href="login">Login</a>
        </nav>
        
    </header>
    <main class="main-container">
        <div class="main-top">
            <!-- <h2 class="subtitulo">Carrito de compras</h2> -->
            <div class="bottom-banner">
            <a href="./producto" class="ir-a-producto">
                <p class="a-productos">Agregar producto +</p>
            </a>
           </div>
        </div>
        <section class="main-carrito">
            <article class="productos-en-carrito">
                <div class="producto">
                    <div class="box-product">
                        <img src="/img/calles-de-salta.jpg" class="img-product">
                        <div class="descripcion-producto">
                            <div class="bajarLinea"> 
                                <h2 class="product-name">Salta</h2>
                                <p class="dias">5 dias <span class="precio">$14.977</span> </p></div>
                                <p class="ofertas">20% OFF</p>                              
                            <div class="fechaIdaVuelta">
                                <p class="salida">Ida <span class="fechaViaje"><i class="fa-sharp fa-solid fa-plane-departure"></i>28-12-22</span></p>
                                <p class="vuelta">Vuelta <span class="fechaViaje"><i class="fa-solid fa-plane-arrival"></i>05-01-23</span></p>
                            </div>
                            <h3 class="hospedaje"><i class="fa-solid fa-square-h"></i>Hospedaje</h3>
                            <p class="comentario">Hotel del sol</p> <!--esta clase 2ble es para poner un formato de titulo apurado-->
                            <h3 class="hospedaje ">Alquiler de vehiculo</h3>
                            <p class="alqAuto comentario">Corsa cuatro puertas familiar</p>
                            <ul class="excursionList">
                                <h3 class="hospedaje">Excursiones incluidas</h3>
                                <li class="elementoExcursion">Día completo a Salinas Grandes, Purmamarca con senderismo</li>
                                <li class="elementoExcursion">San antonio de los cobres, ruta del tren a las nubes</li>
                            </ul><!--Hacerlo 2-->
                            <!-- <div class="cantidad-producto">
                                <label class="selector" for="cantidad-vuelos">Personas: </label>
                                <select class="selcetor-cantidad" name="cantidad-vuelos" id="cantidad-vuelos">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div> -->
                            <button class="product-remove">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
            <article class="productos-en-carrito">
                <div class="producto">
                    <div class="box-product">
                        <img src="/img/bariloche-otoño.jpg" class="img-product">
                        <div class="descripcion-producto">
                            <div class="bajarLinea"> 
                                <h2 class="product-name">Bariloche</h2>
                                <p class="dias">6 dias <span class="precio">$14.977</span> </p></div>
                                <p class="ofertas">10% OFF</p>                              
                            <div class="fechaIdaVuelta">
                                <p class="salida">Ida <span class="fechaViaje"><i class="fa-sharp fa-solid fa-plane-departure"></i>05-04-23</span></p>
                                <p class="vuelta">Vuelta <span class="fechaViaje"><i class="fa-solid fa-plane-arrival"></i>11-04-23</span></p>
                            </div>
                            <h3 class="hospedaje"><i class="fa-solid fa-square-h"></i>Hospedaje</h3>
                            <p class="comentario">Apart Holtel</p> <!--esta clase 2ble es para poner un formato de titulo apurado-->
                            <h3 class="hospedaje ">Alquiler de vehiculo</h3>
                            <p class="alqAuto comentario">Servicio de combi</p>
                            <ul class="excursionList">
                                <h3 class="hospedaje">Excursiones incluidas</h3>
                                <li class="elementoExcursion">Tarde en Cerro Catedral</li>
                                <li class="elementoExcursion">Travesia 4 x 4 </li>
                            </ul><!--Hacerlo 2-->
                            <!-- <div class="cantidad-producto"> // PREGUNTAR Y SE VA ANTES DE ENTREGAR
                                <label class="selector" for="cantidad-vuelos">Personas: </label>
                                <select class="selcetor-cantidad" name="cantidad-vuelos" id="cantidad-vuelos">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div> -->
                            <button class="product-remove">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
            <article class="productos-en-carrito">
                <div class="producto">
                    <div class="box-product">
                        <img src="/img/cumbresita.jpg" class="img-product">
                        <div class="descripcion-producto">
                            <div class="bajarLinea"> 
                                <h2 class="product-name">Córdoba</h2>
                                <p class="dias">7 dias <span class="precio">$14.977</span> </p></div>
                                <p class="ofertas">15% OFF</p>                              
                            <div class="fechaIdaVuelta">
                                <p class="salida">Ida <span class="fechaViaje"><i class="fa-sharp fa-solid fa-plane-departure"></i>10-10-23</span></p>
                                <p class="vuelta">Vuelta <span class="fechaViaje"><i class="fa-solid fa-plane-arrival"></i>17-10-23</span></p>
                            </div>
                            <h3 class="hospedaje"><i class="fa-solid fa-square-h"></i>Hospedaje</h3>
                            <p class="comentario">Morada Hostel</p> <!--esta clase 2ble es para poner un formato de titulo apurado-->
                            <h3 class="hospedaje ">Alquiler de vehiculo</h3>
                            <p class="alqAuto comentario">Servicio de combi</p>
                            <ul class="excursionList">
                                <h3 class="hospedaje">Excursiones incluidas</h3>
                                <li class="elementoExcursion">Encuentro de DJ's la Fabrica</li>
                                <li class="elementoExcursion">Día completo en Cosquin</li>
                            </ul><!--Hacerlo 2-->
                            <!-- <div class="cantidad-producto">
                                <label class="selector" for="cantidad-vuelos">Personas: </label>
                                <select class="selcetor-cantidad" name="cantidad-vuelos" id="cantidad-vuelos">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div> -->
                            <button class="product-remove">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <div class="main-bottom">
            <div class="medio-de-pago">
                <!-- <label for="tipo-de-pago">Seleccione medio de pago</label> //PREGUNTAR Y SE VA ANTES DE LA ENTREGA
                <select name="tipo-de-pago" id="tipo-de-pago">
                    <option value="tarjeta-visa">Tarjeta VISA</option>
                    <option value="tarjeta-naranja">Tarjeta NARANJA</option>
                    <option value="otro-medio-de-pago">Otra</option>
                </select> -->
                <p class="total-precio"> <b>Total:</b> <span class="precio-total-muestra"><b>$13245</b></span></p>
            </div>
            <div class="limpiar-container">
                <button class="boton limpiar-carrito">Vaciar</button>
                <button class="boton pago-compra">Pagar</button>
            </div>
        </div>
    </main>
    <footer class="contenedor-footer">

        <p class="pfinal"> <i class="fa-solid fa-at"></i> <a  class="ultimo" href= "mailto:mdhl@chihockey.org" target="_blank"> <b>vueltaalmundo@vuelos.com </b></a></p>

        <P class="pfinal1" > <i class="fa-solid fa-phone"></i> <a class="ultimo" href="tel:3512540085"> <b> 3512540085 </b></a></P>

        <p class="pfinal2" ><i class="fa-solid fa-map-pin"></i> <a  class="ultimo" href="https://www.google.com.ar/maps/@-34.605646,-58.781371,9.75z/data=!4m2!7m1!2e1"> <b>Bs.As</b> </a> </p>
     
    </footer>
         <p class="copy">Copyright © 2022 </p>
    <script src="https://kit.fontawesome.com/c756401e18.js" crossorigin="anonymous"></script>
</body>
</html>