<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styleCarrito.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <header>
        <div class="div-logo" >
        <img  src="/img/logo-transparente.png" alt="Logo de la empresa">
        </div>
        

        <section >
           <img  class="banner" src="/img/banner.jpg" alt="banner">
        </section> 
        
        <nav>
                <a class="barra1" href="home" >Home</a>
                <a class="barra2" href="registro">Registro</a>
                <a class="barra3" href="producto">Producto</a>
                <a class="barra4" href="#">Carrito</a>
                <a class="barra5" href="login">Login</a>
        </nav>
        
    </header>
    <main class="main-container">
        <div class="main-top">
            <h2 class="subtitulo">Carrito de compras</h2>
           <div class="bottom-banner">
            <img class="user-img" src="/img/el_pato_lucas.jpg" alt="">
            <a href="./producto" class="ir-a-producto">
                <p class="a-productos">Agregar producto +</p>
            </a>
           </div>
        </div>
        <section class="main-carrito">
            <article class="productos-en-carrito">
                <div class="producto">
                    <div class="box-product">
                        <img src="/img/salta.jpg" class="img-product">
                        <div class="descripcion-producto">
                            <p class="product-name">Salta</p>
                            <p class="dias">5 dias <span class="precio">$6.770</span> </p>                              
                            <p class="detail">Ciudad con alma Salta es una de las más pintorescas ciudades de Argentina.
                            Las antiguas casonas con balcones con flores, las iglesias que datan de más de tres siglos atrapan a los visitantes;
                            la arquitectura característica regresa el tiempo al pasado colonial para ser protagonista directo de la rica historia salteña.</p>
                            <div class="cantidad-producto">
                                <label class="selctor-cantidad" for="cantidad-vuelos">Unidades</label>
                                <select class="selctor-cantidad" name="cantidad-vuelos" id="cantidad-vuelos">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                            <button class="product-remove">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
            <article class="productos-en-carrito">
                <div class="producto">
                    <div class="box-product">
                        <img src="/img/cordoba.jpg" class="img-product">
                        <div class="descripcion-producto">
                            <p class="product-name">Córdoba</p>
                            <p class="dias">5 dias <span class="precio">$6.770</span> </p>                              
                            <p>
                                Córdoba ofrece al visitante innumerables atractivos, enmarcados por los distintos sistemas serranos del oeste y noroeste provincial.
                                Sus ríos y arroyos, sus interminables áreas verdes y boscosas, las bondades del clima y los paisajes naturales únicos, atraen visitantes todo el año hacia este privilegiado lugar del mundo.
                            </p>
                            <div class="cantidad-producto">
                                <label class="selctor-cantidad" for="cantidad-vuelos">Unidades</label>
                                <select class="selctor-cantidad" name="cantidad-vuelos" id="cantidad-vuelos">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                            <button class="product-remove">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
            <article class="productos-en-carrito">
                <div class="producto">
                    <div class="box-product">
                        <img src="/img/obelisco.png" class="img-product">
                        <div class="descripcion-producto">
                            <p class="product-name">Buenos Aires</p>
                            <p class="dias">5 dias <span class="precio">$6.770</span> </p>                              
                            <p>
                                Entre los destinos turísticos que debes visitar si estás en Buenos Aires destacan Puerto Madero,
                                La Boca y el Teatro Colón. Si quieres bailar tango, comer carne deliciosa, conocer estadios y visitar calles coloridas, 
                                la ciudad de Buenos Aires es la indicada.
                            </p>
                            <div class="cantidad-producto">
                                <label class="selctor-cantidad" for="cantidad-vuelos">Unidades</label>
                                <select class="selctor-cantidad" name="cantidad-vuelos" id="cantidad-vuelos">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                            <button class="product-remove">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
            <article class="productos-en-carrito">
                <div class="producto">
                    <div class="box-product">
                        <img src="/img/bariloche.jpg" class="img-product">
                        <div class="descripcion-producto">
                            <p class="product-name">Bariloche</p>
                            <p class="dias">5 dias <span class="precio">$6.770</span> </p>                              
                            <p>
                                Bariloche es una ciudad ubicada entre bosques milenarios, montañas cubiertas de nieve y 
                                lagos cristalinos, en la provincia de Río Negro, Argentina. Se trata de una postal de nuestra Patagonia.
                                Una ciudad anfitriona por excelencia, enmarcada por algunas de las bellezas naturales más importantes del país.
                            </p>
                            <div class="cantidad-producto">
                                <label class="selctor-cantidad" for="cantidad-vuelos">Unidades</label>
                                <select class="selctor-cantidad" name="cantidad-vuelos" id="cantidad-vuelos">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                            <button class="product-remove">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <div class="main-bottom">
            <div class="medio-de-pago">
                <p class="total-precio">Total: <span class="precio-total-muestra">$13245</span></p>
                <label for="tipo-de-pago">Seleccione medio de pago</label>
                <select name="tipo-de-pago" id="tipo-de-pago">
                    <option value="tarjeta-visa">Tarjeta VISA</option>
                    <option value="tarjeta-naranja">Tarjeta NARANJA</option>
                    <option value="otro-medio-de-pago">Otra</option>
                </select>
            </div>
            <div class="limpiar-container">
                <button class="limpiar-carrito">Vaciar carrito</button>
                <button class="pago-compra">Pagar</button>
            </div>
        </div>
    </main>
    <footer class="contenedor-footer">

        <p class="pfinal"> <i class="fa-solid fa-at"></i> <a href= "mailto:mdhl@chihockey.org" target="_blank">mdhl@chihockey.org</a></p>

        <P class="pfinal1" > <i class="fa-solid fa-phone"></i> <a href="tel:3512540085"> 3512540085</a></P>

        <p class="pfinal2" ><i class="fa-solid fa-map-pin"></i> <a href="https://www.google.com.ar/maps/@-34.605646,-58.781371,9.75z/data=!4m2!7m1!2e1"> Bs.As </a> </p>
    </footer>
    <script src="https://kit.fontawesome.com/c756401e18.js" crossorigin="anonymous"></script>
</body>
</html>