<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de resitro</title>
    <link rel="stylesheet" href="/css/register.css">
   
</head>
<body>

    <header>
        <div class="div-logo" >
        <img  src="/img/logo2.jpg" alt="Logo de la empresa">
        </div>
        

        <section >
           <img  class="banner" src="/img/banner.jpg" alt="banner">
        </section>
        
        <nav>
                <a class="barra1" href="index" >Home</a>
                <a class="barra2" href="#">Registro</a>
                <a class="barra3" href="productDetail">Producto</a>
                <a class="barra4" href="productCart"> Carrito de Compras</a>
                <a class="barra5" href="login">Login</a>
        </nav>
        
    </header>

    <main>
        <h2>Formulario de registro</h2>
            <div>  <!--Este va a ser el contenedor de todo mi FORMULARIO para aplicarle CSS -->
                <fieldset>
                    <label>
                     Nombre:
                    <input type="text" name="first name" placeholder="Ej: Juan">
                    </label>

                     <label>
                    Apellido:
                    <input type="text" name="last name" placeholder="Ej: Perez">
                    </label>

                    <label>
                     DNI:
                    <input type="text" name="last name" placeholder="Ej: 1234567">
                    </label>

                    <label for="Nacionalidad"> <b> Nacionalidad</label>
                        <select name="Nacionalidad elegida" id="school">
                            <option value=" ">--Seleccione una opción--</option> 
                            <option value="A">Argentina</option>
                            <option value="E">Española</option>
                            <option value="I">Italiana</option>
                            <option value="S">Suiza</option> 
                        </select>

                 </fieldset> <!-- Aca termina mi primer renglón, por eso se usa FIELDSET-->
       
                 <fieldset> <!--Ahora quiero que todo lo que sigue se coloque en otro renglon aparte por eso abro otra etiqueta FIELSET-->

                        <label>
                        N° de celular:
                        <input type="text" name="celular" placeholder="Ej: 1234567">
                        </label>

                        <label>
                        Email:
                        <input type="email" name="correo" placeholder="Ej: nombre@ejemplo.com">
                        </label>

                        <label>
                        SEXO:
                        <input type="radio" name="SEXO" value="FEM">
                        Fem.
                        </label>
                
                        <label>
                        <input type="radio" name="SEXO" value="MAS">
                        Masc.
                        </label>

                        <label>
                        Fecha:
                        <input type="date" class="fecha">
                        </label>

                </fieldset>

                <fieldset class="enviar">
                <input type="submit" value=" Enviar" class="boton" >
                </fieldset>
               
                <fieldset class="registrado">
                    
                    <button class="boton"> <nav class="nav"><a href="login"> ¡Ya estoy registrado/a!</a> </nav> </button>    

                </fieldset>
                
            </div>
    </main>

    <footer class="contenedor-footer">

        <p class="pfinal"> <i class="fa-solid fa-at"></i> <a href= "mailto:mdhl@chihockey.org" target="_blank">mdhl@chihockey.org</a></p>

        <P class="pfinal1" > <i class="fa-solid fa-phone"></i> <a href="tel:3512540085"> 3512540085</a></P>

        <p class="pfinal2" ><i class="fa-solid fa-map-pin"></i> <a href="https://www.google.com.ar/maps/@-34.605646,-58.781371,9.75z/data=!4m2!7m1!2e1"> Bs.As </a> </p>
    </footer>
         
    
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>      
    
    
</body>
</html>