<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de resitro</title>
    <link rel="stylesheet" href="/css/register.css">
   
</head>
<body>

    <header>
        <div class="div-logo" >
        <img  src="/img/logo-transparente.png" alt="Logo de la empresa">
        </div>
        

        <section >
           <img  class="banner" src="/img/banner.jpg" alt="banner">
        </section> 
        
        <nav>
                <a class="barra1" href="home" >Incio</a>
                <a class="barra3" href="producto">Viajes</a>
                <a class="barra4" href="carrito"> Carrito</a>
                <a class="barra2" href="#">Registro</a>
                <a class="barra5" href="login">Login</a>
        </nav>
        
    </header>

    <main>
        <h2>Formulario de registro</h2>
        <form class="pform" action="register.html" method="GET">
            
            
            <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido" required>

        
            <input type="email" name="nombre" id="email" placeholder="E-mail" required>
           
            
            <input type="text" name="país" id="país" placeholder="País" required>

        
            <input type="text" name="num" id="celular" placeholder="N° de celular" required>
            
         
            <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" required>
            
       
            <input type="password" name="Contraseña" id="password" placeholder="Contraseña" required>
         <div class="contenedor-botones">
            <input class="button-enviar" type="submit" value="Enviar" href="/">

            <a href="login" class="button-enviar">Iniciar sesión</a>
        </div>

           
 
           
            </form>
                
            
    </main>
 

    <!--FOOTER PARA COPIAR EN SUS HTML(INCLUIR EL "COPYRIGHT" QUE ESTÁ POR FUERA)-->
    <footer class="contenedor-footer">

        <p class="pfinal"> <i class="fa-solid fa-at"></i> <a  class="ultimo" href= "mailto:mdhl@chihockey.org" target="_blank"> <b>vueltaalmundo@vuelos.com </b></a></p>

        <P class="pfinal1" > <i class="fa-solid fa-phone"></i> <a class="ultimo" href="tel:3512540085"> <b> 3512540085 </b></a></P>

        <p class="pfinal2" ><i class="fa-solid fa-map-pin"></i> <a  class="ultimo" href="https://www.google.com.ar/maps/@-34.605646,-58.781371,9.75z/data=!4m2!7m1!2e1"> <b>Bs.As</b> </a> </p>
     
    </footer>
         <p class="copy">Copyright © 2022 </p>

    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>      
    
    
</body>
</html>